#satellite_input_div {
    position: absolute;
    top: 60px;
    left: 205px;
    right: 300px;
    height: 130px;
    /*background-color: yellow;*/
}

#data_output_div {
    position: absolute;
    top: 200px;
    left: 205px;
    right: 300px;
    height: 450px;
    /*background-color: red;*/
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#priority_list_div {
    position: fixed;
    top: 58px;
    right: 20px;
    width: 270px;
    height: 100%;
    /*background-color: white;*/
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

    #priority_list_div::-webkit-scrollbar {
        display: none;
    }

#satellite_input {
    margin-top: 60px;
    margin-left: 170px;
    height: 45px;
    width: 360px;
    font-size: 1.5em;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    outline: none;
}

#submit_button {
    position: absolute;
    margin-top: 60px;
    width: 140px;
    height: 47px;
    border: none;
    outline: none;
    background: #0099d2;
    color: white;
    font-size: 35px;
    font-style: italic;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.7;
}

#submit_button:hover {
    opacity: 1.0;
}

#data_output_table {
    margin-left: 80px;
    margin-right: 80px;
    height: auto;
    background-color: white;
    box-shadow: 0 2px 2px 0 #99bcd7;
    font-family: 'Arial Unicode MS';
}

#priority_list_layer {
    position: fixed;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 250px;
    padding-right: 20px;
    box-shadow: 0 3px 3px 0 #99bcd7;
    background-color: #3a38b5;
    opacity: 0.45;
}

#task_placeholder_head {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 250px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    color: white;
}

#task_placeholder_tail {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 250px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 18px;
    font-style: italic;
    color: white;
}

#back_to_top {
    position: fixed;
    bottom: 80px;
    margin-left: 640px;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background: url(../assets/ui/top.png) 0 0 no-repeat;
    background-size: 45px 40px;
    opacity: 0.3;
    z-index: 10;
    visibility: hidden;
}

#back_to_top:hover {
    opacity: 0.9;
}

.selecting_satellite {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 630px;
    height: 50px;
    background-color: #f7ff86;
    box-shadow: 0 1px 1px 0 #99bcd7;
    border-radius: 5px;
    cursor: pointer;
    z-index: 7;
}

#selecting_placeholder_tail {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 630px;
    height: 50px;
    border-radius: 5px;
    z-index: 7;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Comic Sans MS';
}


















