<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAT-Tracking</title>
    <link rel="stylesheet" type="text/css" href="../static/contents/index.css" />
    <script type="text/javascript" src="../static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <input type="text" id="satellite_input" name="title" placeholder="Please enter a SAT number" />
    <div id="search_button" class="no_select">
        <a id="search_button_a" href=""><p>Search</p></a>
    </div>
    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>
</html>